@import 'utils/variables';
@import 'utils/mixins';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1.5rem;
  
  @include desktop {
    padding: 4rem;
  }
  
}
