.introCopy {
  padding: 2.5rem 2.5rem 2rem 2.5rem;
  margin: 2.5rem 0 3.5rem 0;
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  transition: box-shadow 0.2s;
}